[bot]
server = https://matrix.eigenbaukombinat.de
username = horscht
display_name = horscht
password = xxx
mqtt_broker = localhost

[modules.quote]
# explicitly allow the commands defined by this module to some users
# overrides allowed rooms, commands are allowed everywhere 
allowed_users = @nilo:matrix.eigenbaukombinat.de
     @user2:matrix.eigenbaukombinat.de
# private command, not allowed in any room (only by above users)
allowed_rooms =

[modules.helloworld]
# allowed by all users in this room
allowed_rooms = #testraum:matrix.eigenbaukombinat.de

[zammad-orga]
module = modules.zammad
secs = 10
url = https://z.eigenbaukombinat.de
token = <your zammad token> 
addr = <zammad incoming mail address> 
room = orga
